<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hidday.directfarming"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AppActivities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppActivities.WelcomeActivity" >
        </activity>
        <activity
            android:name=".AppActivities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >

        </activity>
        <activity
            android:name=".AppActivities.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:parentActivityName=".AppActivities.LoginActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppActivities.LoginActivity" />

        </activity>
        <activity
            android:name=".AppActivities.MyAuctionsActivity"
            android:label="@string/title_activity_my_auctions"
            android:parentActivityName=".AppActivities.ActiveEvents" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppActivities.ActiveEvents" />

        </activity>
        <activity
            android:name=".AppActivities.ActiveEvents"
            android:label="@string/title_activity_active_auctions" >
        </activity>
        <activity
            android:name=".AppActivities.MarketEventStandsActivity"
            android:label="@string/title_activity_market_event_details"
            android:parentActivityName=".AppActivities.ActiveEvents" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppActivities.ActiveEvents" />
        </activity>
        <activity
            android:name=".AppActivities.PlaceBidActivity"
            android:label="@string/title_activity_place_bid"
            android:parentActivityName=".AppActivities.MarketEventStandsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AppActivities.MarketEventStandsActivity" />
        </activity>
    </application>

</manifest>









